# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
 
# Distribution / packaging
.Python
env
bin
build
lib
lib64
parts
sdist
var
 
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
 
# Unit test / coverage reports
htmlcov
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
 
# Sphinx documentation
docs/_build
 
# virtualenv
.env
.venv
env
venv
